* {
    box-sizing: border-box;
    color: darkblue;
    text-align: center;
}
.header {
    border-style: solid;
    border-width: thin;
    border-color: black;
    clear: both;
    background-color: lightblue;
    height: 100px;
}
.horizontal-menu {
    border-style: solid;
    border-width: thin;
    border-color: black;
    clear: both;
    background-color: orange;
    margin-top: 0.5%;
    height: 50px;
}
.sidebar-1 {
    border-style: solid;
    border-width: thin;
    border-color: black;
    float: left;
    width: 25%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    height: 600px;
    background-color: white;
}
.section {
    float: left;
    width: 49%;
    height: 600px;
    margin: 0.5% 0.5% 0.5% 0.5%;
    background-color: white;
}
.before {
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 25%;
}
.content {
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 50%;
}
.after {
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 25%;
}
.sidebar-2 {
    border-style: solid;
    border-width: thin;
    border-color: black;
    float: right;
    width: 25%;
    background-color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    height: 600px;
}
.footer {
    border-style: solid;
    border-width: thin;
    border-color: black;
    background-color: lightblue;
    height: 100px;
    clear: both;
}