#layout {
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    text-align: center;
}
#header {
    height: 100px;
}
#navigation {
    height: 50px;
}
#left-column {
    float: left;
    width: 25%;
    height: 480px;
    background-color: red;
}
#content {
    float: left;
    width: 50%;
    height: 480px;
    background-color: green;
}
#right-column {
    float: left;
    width: 25%;
    height: 480px;
    background-color: yellow;
}
#footer {
    clear: both;
    height: 100px;
    background-color: orange;
}